# Database
jobs.db
bulk_urls.txt

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
.venv
*.egg-info/
build/
dist/

# Outputs
*.csv

# Google API
credentials.json
token.json

transcript.txt